<!-- Image Compressor -->

{% extends 'template.html' %}

{% block title %}Image Compressor{% endblock %}

{% block bodytag %} data-page="IC"{% endblock %}
{% block content %}
<div class="row">
    <!-- Left Side: Upload Area -->
    <div class="col-md-4">
        <h2>Image Compressor</h2>
        <div class="upload-area" id="uploadfile">
            <div class="upload-icon">
                <i class="fas fa-cloud-upload-alt fa-3x"></i>
            </div>
            <h3>Drag & Drop or Click to Upload Image</h3>
            <input type="file" id="fileInput" accept="image/*">
        </div>
    </div>

    <!-- Right Side: Image Preview & Result -->
    <div class="col-md-8">
        <!-- Image Preview -->
        <div id="image-preview">
            <div class="preview-header">
                <h4>Original Image:</h4>
                <span id="original-size" class="file-size-badge hidden"></span>
            </div>
            <img id="preview" src="" alt="Your Image" class="img-fluid hidden">
        </div>

        <!-- Processed Image -->
        <div id="result">
            <div class="preview-header">
                <h4>Compressed Image:</h4>
                <span id="compressed-size" class="file-size-badge hidden"></span>
            </div>
            <img id="output" src="" alt="Compressed Image" class="img-fluid hidden">
            <a id="download-btn" href="" download="compressed.jpg" class="btn btn-primary mt-3 hidden">Download</a>
        </div>
    
    </div>
</div>
{% endblock %}
